<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.smarthome.app.smarthome_01">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.TAHActivity"/>
        <activity android:name=".activity.LEDActivity"/>
        <activity
            android:name=".activity.VideoActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"/>
        <activity android:name=".activity.MoreActivity"/>
        <activity android:name=".settingActivity.IPActivity"/>
    </application>

</manifest>